@{
    ViewBag.Title = "Juego del Ahorcado";
  
}


<div style ="text-align: center;">
    <h1>Bienvenidos al mejor juego del ahorcado del mundo</h1>
    <p>Adivina la palabra para poder ganar el juego</p>
<form asp-action= "Inicio">
<button type = "submit">Comenzar partida</button>
</form>
</div>
