@{
    ViewBag.Title = "Resultado del juego";

    bool gano = ViewBag.gano;
    string palabra = ViewBag.palabra;
}

<div style = "text-align: center; margin-top: 30px ;">

@if(gano){
    <h2>Ganaste</h2>
}

else{
    <h2>Perdiste</h2>
}

<p>La palabra correcta era @palabra</p>

<form asp-action="Inicio">
        <button type="submit">Volver a jugar</button>
    </form>
</div>